{% extends 'base.html' %}
{% block content %}

    <h2> Listar alunos </h2>
    <a href="{% url 'incluir_aluno' %}"> Cadastrar novo aluno </a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
                <tr>
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.cpf}}</td>
                    <td>{{aluno.email}}</td>
                    <td>
                        <a href="{% url 'editar_aluno' aluno.id %}">Editar</a>
                        <a href="#">Excluir</a>
                    </td>
                </tr>
            {% endfor %}        
        </tbody>
    </table>
{% endblock %}