{% extends 'base.html' %}
{% block content %}

    <h2> Listar cursos </h2>
    <a href="{% url 'incluir_curso' %}" class="btn btn-primary">
        Cadastrar novo curso
    </a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Carga horária</th>
                <th>Investimento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
                <tr>
                    <td>{{curso.nome}}</td>
                    <td>{{curso.carga_horaria}}</td>
                    <td>{{curso.investimento}}</td>
                    <td>
                        <a href="{% url 'editar_curso' curso.id %}" class="btn btn-secondary">
                            Editar
                        </a>
                        <a href="{% url 'excluir_curso' curso.id %}" class="btn btn-danger">
                            Excluir
                        </a>
                    </td>
                </tr>
            {% endfor %}        
        </tbody>
    </table>
{% endblock %}