{% extends 'base.html' %}
{% block content %}

    <h2> Listar alunos </h2>
    <a href="{% url 'incluir_aluno' %}" class="btn btn-primary">
        Cadastrar novo aluno
    </a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
                <tr>
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.cpf}}</td>
                    <td>{{aluno.email}}</td>
                    <td>
                        <a href="{% url 'editar_aluno' aluno.id %}" class="btn btn-secondary">
                            Editar
                        </a>
                        <a href="{% url 'excluir_aluno' aluno.id %}" class="btn btn-danger">
                            Excluir
                        </a>
                    </td>
                </tr>
            {% endfor %}        
        </tbody>
    </table>
{% endblock %}